ion-content {
    --background:  #f9d342;
}
ion-card {
    --background: #292826;
    --color: #f9d342;
    margin-top: 120px; 
    border-radius: 18px;
}
ion-item {
    --background: #f9d342;
    --border-color: #292826;
    --border-style: solid;
}
ion-button {
    --background: #292826;
    --color: #f9d342;
    margin-left: 135px;
    margin-right: 20px;
    --border-color: #f9d342;
}
