<ion-content>
    <ion-chip>
        <!-- <ion-icon name="git-pull-request"></ion-icon> -->
        <ion-label>TECH SAVVY</ion-label>
    </ion-chip>
  <ion-card>
    <ion-card-header><h1>Join Us!</h1></ion-card-header>
      <ion-button href="/technician-sign-up" class="engBtn" expand="block" fill="outline">
          Sign In as an Engineer
          <ion-icon slot="start" name="cog"></ion-icon>
      </ion-button>
      <ion-button class="custBtn" href="/customer-sign-up" fill="outline" expand="block">
          Sign In as a customer
          <ion-icon slot="start" name="contact"></ion-icon>
      </ion-button>
  </ion-card>
  <ion-chip class="sign-in-button">
      <ion-icon name="search"></ion-icon>
      <ion-label>About Us</ion-label>
  </ion-chip>
</ion-content>